@font-face {
  font-family: 'Neue Machina';
  src: url('./assets/fonts/NeueMachina-Light.woff'), url('./assets/fonts/NeueMachina-Regular.woff'), url('./assets/fonts/NeueMachina-Ultrabold.woff');
}

@font-face {
  font-family: 'Migra Italic';
  src: url('./assets/fonts/MigraItalic-ExtralightItalic.woff'), url('./assets/fonts/Migra-Extrabold.woff'), url('./assets/fonts/Migra-Extralight.woff'), url('./assets/fonts/MigraItalic-ExtraboldItalic.woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Neue Machina', cursive;
  scroll-behavior: smooth;
}

html, body {
  cursor: none;
  background-color: #fefefe;
}

a {
  text-decoration: none;
  color: #000;
  font-family: 'Migra Italic';
  cursor: unset;
}

#red {
  text-decoration: underline;
}

a:hover {
  opacity: 0.8;
}


/* CURSOR */

.cursor {
  width: 16px;
  height: 16px;
  border: 1.2px solid #fff;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  /* transform: translate(-50%, -50%) scale(2); */
  background-color: #fefefe;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #fefefe;
}

/* Navbar */

.navbar {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  /* z-index: 999; */
  /* mix-blend-mode: difference; */
}

.navbar__container, .footer__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  /* z-index: 1; */
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  /* mix-blend-mode:difference; */
}

#navbar__logo {
  color: #333333;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Neue Machina';
  font-size: 1.5rem;
  mix-blend-mode: difference;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
  width: 124px;
}

.navbar__links {
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  font-family: "Migra Italic";
  text-transform: uppercase;
}

.navbar__links:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1025px) {
  

  .centered__div__2 {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60.5px;
    margin-top: 38px;
  }
  
  .centered__div__3 {
    width: 400px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 168px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 960px) {
  .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
  }

  .navbar__menu.active {
      background: #fff;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
      opacity: 0.9;
    }

  #navbar__logo {
      padding-left: 25px;
      font-size: 19px;
  }

  .navbar__item {
      width: 100%;
  }

  .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
  }

}


/* Hero Section */

.hero {
  line-height: 110%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  height: 90%;
  /* text-align: center; */
  padding: 30px;
}

.hero__container img {
  width: 30%;
  height: auto;
  margin-bottom: 70px;
}

.hero__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #333333;
}

.hero__heading span {
  font-family: 'Migra Italic';
}

.hero__description {
  align-self: flex-start;
  color: #333333;
  font-size: 18px;
  margin: 10px 0;
}

.hero__description span {
  font-family: 'Migra Italic';
}

.hero__grid {
  display: grid;
  grid-template-columns: 64.5% 20%;
  grid-column-gap: 5em;
}

@media screen and (max-width: 768px) {

  .hero__container img {
    width: 50%;
    margin-bottom: 40px;
  }

  .hero__heading {
      font-size: 60px;
  }

  .hero__description {
      font-size: 18px;
  }

  .hero__grid {
    display: flex;
    flex-direction: column;
  }
}


/* Gallery Section */

.gallery__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.gallery__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.gallery__item {
  display: flex;
  width: 30%;
  height: auto;
  margin: 2% 0;
  text-decoration: none;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 575px;
  max-height: 575px;
}

.gallery__item figure figcaption {
  text-align: right;
  color: #333333;
  font-family: 'Migra Italic';
}

.gallery__arrow {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {

  .gallery__container {
      align-items:unset;
  }

  .gallery__list {
      align-items: center;
  }
  
  .gallery__item {
      width: 45%;
      height: 500px;
      margin: 25px 0;
  }
}

@media screen and (max-width: 768px) {

  .gallery__container {
      align-items:unset;
  }

  .gallery__list {
      flex-flow: column;
      align-items: center;
  }
  
  .gallery__item {
      width: 100%;
      height: 400px;
      margin: 25px;
  }

  .gallery__item img {
    min-height: unset;
  }

  .cross {
    width: 25px;
    margin-right: 183px;
  }
  
  .flecha {
    width: 25px;
    margin-left: 125px;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.arrow a {
  color: #000;
}

/* DETAIL SECTION */

.detail__grid {
  display: grid;
  grid-template-columns: 47% 6% 47%;
  align-items: center;
  padding-bottom: 10px;
}

.detail__grid .cursive {
  font-size: unset;
}

.detail__grid img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.detail__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail__btns a {
  margin: 10px;
}

.detail__info div h1 {
  text-transform: uppercase;
  font-size: 18px;
}
.detail__info div h3 {
  margin-top: 30px;
  font-size: 14px;
}

.cursive {
  font-family: 'Migra Italic';
  font-size: 22px;
  line-height: 105%;
}

#btn_next {
  margin: 0 auto;
  width: 125%;
  height: 50%;
  transform: rotate(90deg);
}

.detail__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cross {
  width: 25%;
}

.flecha {
  width: 25%;
}

@media screen and (min-width: 961px) and (max-width: 1024px) {

  .detail__grid {
    display: flex;
    flex-direction: column;
  }

  .detail__grid img {
    width: 90%;
    height: auto;
  }

  .detail__grid a {
    width: 25%;
  }

  .detail__btns {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    width: 100%;
    margin-left: 82px;
  }

  .detail__info {
    padding: 15px;
  }

  .flecha {
    margin-left: 322px;
    width: 12%;
  }

  .cross {
    width: 12%;
  }
}

@media screen and (max-width: 960px) {
  .detail__grid {
    display: flex;
    flex-direction: column;
  }

  .detail__grid img {
    width: 90%;
    height: auto;
  }

  .detail__grid a {
    width: 25%;
  }

  .detail__btns {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    width: 100%;
    margin-left: 57px;
  }

  .detail__info {
    padding: 15px;
  }

  .flecha {
    margin-left: 242px;
    width: 12%;
  }

  .cross {
    width: 12%;
  }

}

@media screen and (max-width: 960px) {
  .detail__grid {
    display: flex;
    flex-direction: column;
  }

  .detail__grid img {
    width: 90%;
    height: auto;
  }

  .detail__grid a {
    width: 25%;
  }

  .detail__btns {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    width: 100%;
    margin-left: 57px;
  }

  .detail__info {
    padding: 15px;
  }

  .flecha {
    margin-left: 242px;
    width: 12%;
  }

  .cross {
    width: 12%;
  }

}

@media screen and (max-width: 1024px) {
  .detail__btns {
    margin-left: 20px;
  }

  .flecha {
    margin-left: 113px;
    width: 12%;
  }

  .cross{
    width: 12%;
  }

  .one{
    order: 1;
  }

  .three{
    order:2;
  }

  .two {
    order: 3;
  }

  .info__grid {
    grid-template-columns: 100% !important;
  }

  .info__grid div img:last-child {
    display: block !important;
  }

  .info__grid div img:first-child {
    display: none;
  }

}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 140px;
  width: 100vw;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: #333333;
}

.info__grid {
  display: grid;
  grid-template-columns: 25% 25% 40%;
  margin: 0 1%;
  text-align: left;
  line-height: 100%;
}

.info__grid p, .info__grid h2, .info__grid h3, .info__grid h4 {
  margin-bottom: 12px;
}

.info__grid div {
  margin: 5%;
}

.info__grid div img {
  width: 25%;
}

.info__grid div img:last-child {
  display: none;
}

.info__grid div:hover img:last-child {
  display: block;
}

.info__grid div:hover img:first-child {
  display: none;
}



/* .info__grid div img:hover {
  background: url('../public/pics/printInfo2.svg');
} */

.info__grid .center {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 16%;
}

.info__grid span {
  font-family: 'Migra Italic';
}

.info {
  align-self: flex-end;
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  .info__grid .center {
    padding-top: 0;
  }
}